* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hwb(0 92% 2%);
}

.container {
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: maroon;
  border-radius: 15px;
  margin: 0 auto 20px;
  transition: background-color 0.4s ease;
  border: 2px solid black;
}

.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: maroon;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: rgba(80, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
header .logo {
    font-size: 1.7rem;
    font-weight: bold;
    color: #5a0000; 
    font-family: Georgia, serif;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}
nav ul li a {
    color: #400000;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active {
    color: #a83232; 
    font-weight: bold;
}


